<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <canvas #myChart></canvas>

</ion-content>
<!--
  Inputs:
  - Last months hydro bill?
  - Last months water bill?
  - Last months gas bill?
  - This months hydro bill?
  - This months water bill?
  - This months gas bill?
  - Your fixed electricity rate?
  - Your fixed water rate?

  Outputs:
  - Cost 

  For Future: 
  - Add a drop down menu for Time Of Use plans, prices will differ by morning, evening and night. For now use Tiered 

-->

