<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <canvas #myChart></canvas>

<!--
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart-outline"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      Settings
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
-->

</ion-content>
<!--
  Inputs:
  - Last months hydro bill?
  - Last months water bill?
  - Last months gas bill?
  - This months hydro bill?
  - This months water bill?
  - This months gas bill?
  - Your fixed electricity rate?
  - Your fixed water rate?

  Outputs:
  - Cost 

  For Future: 
  - Add a drop down menu for Time Of Use plans, prices will differ by morning, evening and night. For now use Tiered 

-->

